version: '3.8'
services:
  playwright:
    build:
      context: .
      dockerfile: Dockerfile.playwright
    volumes:
      - ./src:/src
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    volumes:
      - ./core:/core
